doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
  header
    h1 
      a(href="/") Members Only
  body
    block content
  footer
    p(class="attribution")= "Created by David Stockdale"
    div(class="social-links")
      a(href='https://github.com/dstock3/secret-proj' class="github" target="_blank" rel="noopener noreferrer")= "Github"
      a(href='https://davestockdale.io' class="portfolio" target="_blank" rel="noopener noreferrer")= "Portfolio"
