extends layout

block content
    main
        form(class="login-form" action="/log-in" method="POST")
            h2(class="form-head") Please Log In
            div(class="dec")
            label(for="name") Username
            input(name="name" type="text" required="true")
            label(for="password") Password
            input(name="password" type="password" required="true")
            button(class='submit-button') Log In
        div(class="sign-up") Don't have an account? 
        a(href="/sign-up") Sign Up!
