extends layout

block content
    main(class="main-posts-container")
        each postDetail in posts
            div(class="post-container")
                div(class="post-top")
                    h3(class="post-name") #{postDetail.post.subject}
                    each userDetail in users
                        if userDetail.userID === postDetail.postUserID
                            div(class="post-author") 
                                a(href="user/" + userDetail.user.username) #{userDetail.user.username}
                div(class="post-body") #{postDetail.post.content}
                div(class="post-bottom")
                    a(href="/post/" + postDetail.post._id) ...Read More
                    each sectionDetail in sections
                        if sectionDetail.sectionID === postDetail.postSectionID
                            div(class="post-section")
                                a(href= "section/" + sectionDetail.section._id ) #{sectionDetail.section.name}
