extends layout

block content
    main(class="all-sections")
        each sectionDetail in sections
            div(class="section-container")
                h2(class="section-name") 
                    a(href= "section/" + sectionDetail.section._id ) #{sectionDetail.section.name}

                if sectionDetail.posts.length > 0
                    div(class="posts-container" id="section-posts")
                        each post in sectionDetail.posts
                            div(class="post-container")
                                h3(class="post-name") 
                                    a(class="section-post-name" href="/post/" + post._id) #{post.subject}
                else
                    div(class="posts-container" id="section-posts")
                        div(class="post-container")
                            h3(class="post-name") There are no posts in this section.


