extends layout

block content
    main
        div(class="section-container")
            h2(class="section-name") #{section.name}
            div(class="posts-container")
                each post in posts
                    div(class="post-container")
                        h3(class="post-name") #{post.subject}
        div(class="section-options")
            a(href="/sections") See All Sections