extends layout

block content
    main
        form(action="" method="POST")
            h2(class="form-head") Create an Account
            label(for="name") Username
            input(name="name" type="text" required="true")
            label(for="password") Password
            input(name="password" type="password" required="true")
            label(for="bio") Bio
            textarea(name="bio" type="text" required="true" placeholder="Tell us about yourself.")
            button(class="submit-button") Sign Up
        div(class="log-in") Already have an account?
            a(href="/log-in") Log In